
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<!-- Match Section Begin -->
<section class="match-section set-bg" style="background-image:url(/Content/Website/img/match/match-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ms-content">
                    <h4>Trận kế tiếp</h4>
                    <div class="mc-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="left-team">
                                        <img src="img/match/tf-1.jpg" alt="">
                                        <h6>Cambodia</h6>
                                    </td>
                                    <td class="mt-content">
                                        <div class="mc-op">Ucraina vs England</div>
                                        <h4>VS</h4>
                                        <div class="mc-op">15 September 2019</div>
                                    </td>
                                    <td class="right-team">
                                        <img src="img/match/tf-2.jpg" alt="">
                                        <h6>Qatar</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mc-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="left-team">
                                        <img src="img/match/tf-3.jpg" alt="">
                                        <h6>Australia</h6>
                                    </td>
                                    <td class="mt-content">
                                        <div class="mc-op">Ucraina vs England</div>
                                        <h4>VS</h4>
                                        <div class="mc-op">15 September 2019</div>
                                    </td>
                                    <td class="right-team">
                                        <img src="img/match/tf-4.jpg" alt="">
                                        <h6>Iraq</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mc-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="left-team">
                                        <img src="img/match/tf-5.jpg" alt="">
                                        <h6>Ucraina</h6>
                                    </td>
                                    <td class="mt-content">
                                        <div class="mc-op">Ucraina vs England</div>
                                        <h4>VS</h4>
                                        <div class="mc-op">15 September 2019</div>
                                    </td>
                                    <td class="right-team">
                                        <img src="img/match/tf-6.jpg" alt="">
                                        <h6>Jordan</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ms-content">
                    <h4>Kết quả gần nhất</h4>
                    <div class="mc-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="left-team">
                                        <img src="img/match/tf-1.jpg" alt="">
                                        <h6>Darussalam</h6>
                                    </td>
                                    <td class="mt-content">
                                        <div class="mc-op">Ucraina vs England</div>
                                        <h4>1 : 2</h4>
                                        <div class="mc-op">15 September 2019</div>
                                    </td>
                                    <td class="right-team">
                                        <img src="img/match/tf-2.jpg" alt="">
                                        <h6>Ucraina</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mc-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="left-team">
                                        <img src="img/match/tf-3.jpg" alt="">
                                        <h6>Japan</h6>
                                    </td>
                                    <td class="mt-content">
                                        <div class="mc-op">Ucraina vs England</div>
                                        <h4>1 : 2</h4>
                                        <div class="mc-op">15 September 2019</div>
                                    </td>
                                    <td class="right-team">
                                        <img src="img/match/tf-4.jpg" alt="">
                                        <h6>Philippines</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mc-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="left-team">
                                        <img src="img/match/tf-5.jpg" alt="">
                                        <h6>Kyrgyz</h6>
                                    </td>
                                    <td class="mt-content">
                                        <div class="mc-op">Ucraina vs England</div>
                                        <h4>1 : 2</h4>
                                        <div class="mc-op">15 September 2019</div>
                                    </td>
                                    <td class="right-team">
                                        <img src="img/match/tf-6.jpg" alt="">
                                        <h6 class="mi-right">Pakistan</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Match Section End -->
<!-- Latest Section Begin -->
<section class="latest-section" style="padding-top:70px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title latest-title">
                    <h3>Latest <span>News</span></h3>
                    <ul>
                        <li>All</li>
                        <li>World Cup</li>
                        <li>Champions</li>
                        <li>MLS</li>
                    </ul>
                </div>
                <div class="row">                   
                    <div class="col-md-8">
                        <div class="news-item left-news">
                            @Html.Action("FirstNews","TinTuc")
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="img/news/ln-1.jpg" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">How To Quit Smoking Using Zyban</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="img/news/ln-2.jpg" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">Decorate For Less With Art Posters</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="img/news/ln-3.jpg" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">Home Business Advertising Ideas</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="img/news/ln-4.jpg" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">Lasik Doesn T Stop Your Eyes From Aging</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-4">
                    <div class="section-title">
                        <h3>Club <span>Ranking</span></h3>
                    </div>
                    <div class="points-table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="th-o">Pos</th>
                                    <th>Team</th>
                                    <th class="th-o">P</th>
                                    <th class="th-o">W</th>
                                    <th class="th-o">L</th>
                                    <th class="th-o">PTS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="team-name">
                                        <img src="img/flag/flag-1.jpg" alt="">
                                        <span>Afghanis</span>
                                    </td>
                                    <td>22</td>
                                    <td>2</td>
                                    <td>5</td>
                                    <td>72</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="team-name">
                                        <img src="img/flag/flag-2.jpg" alt="">
                                        <span>Australia</span>
                                    </td>
                                    <td>20</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>71</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="team-name">
                                        <img src="img/flag/flag-3.jpg" alt="">
                                        <span>Qatar</span>
                                    </td>
                                    <td>18</td>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>68</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="team-name">
                                        <img src="img/flag/flag-4.jpg" alt="">
                                        <span>Cambodia</span>
                                    </td>
                                    <td>17</td>
                                    <td>2</td>
                                    <td>7</td>
                                    <td>64</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td class="team-name">
                                        <img src="img/flag/flag-5.jpg" alt="">
                                        <span>Uzbekistan</span>
                                    </td>
                                    <td>17</td>
                                    <td>2</td>
                                    <td>6</td>
                                    <td>60</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td class="team-name">
                                        <img src="img/flag/flag-6.jpg" alt="">
                                        <span>Turkme</span>
                                    </td>
                                    <td>161</td>
                                    <td>1</td>
                                    <td>8</td>
                                    <td>57</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td class="team-name">
                                        <img src="img/flag/flag-7.jpg" alt="">
                                        <span>Sri Lanka</span>
                                    </td>
                                    <td>15</td>
                                    <td>4</td>
                                    <td>8</td>
                                    <td>52</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td class="team-name">
                                        <img src="img/flag/flag-8.jpg" alt="">
                                        <span>Myanmar</span>
                                    </td>
                                    <td>14</td>
                                    <td>3</td>
                                    <td>7</td>
                                    <td>48</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#" class="p-all">View All</a>
                    </div>
                </div>*@
        </div>
    </div>
</section>
<!-- Latest Section End -->
<!-- Popular News Section Begin -->
<section class="popular-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title">
                    <h3>Popular <span>Post</span></h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="news-item popular-item set-bg" data-setbg="img/news/popular-b.jpg">
                            <div class="ni-tag tenis">Tenis</div>
                            <div class="ni-text">
                                <h5>
                                    <a href="#">
                                        England reach World Cup last 16 with hard-fought win over
                                        Argentina
                                    </a>
                                </h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="img/news/ln-1.jpg" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">There’s a great history of the winner Sandia</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="img/news/ln-2.jpg" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">It’ll be a tough game and a physical game</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="img/news/ln-3.jpg" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">If we don’t score we can’t get frustrated</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news-item popular-item set-bg" data-setbg="img/news/popular-b.jpg">
                            <div class="ni-tag football">Football</div>
                            <div class="ni-text">
                                <h5>
                                    <a href="#">
                                        We are playing history and Argentina at the World Cup, says Phil
                                        Neville
                                    </a>
                                </h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="img/news/ln-5.jpg" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">Le Havre does have a growing fan club</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="img/news/ln-6.jpg" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">It will be hard to break them down</a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="ni-pic">
                                <img src="img/news/ln-7.jpg" alt="">
                            </div>
                            <div class="ni-text">
                                <h5><a href="#">We’ve never seen them as organised </a></h5>
                                <ul>
                                    <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                                    <li><i class="fa fa-edit"></i> 3 Comment</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-title">
                    <h3>Follow <span>Us</span></h3>
                </div>
                <div class="follow-links">
                    <ul>
                        <li class="facebook">
                            <i class="fa fa-facebook"></i>
                            <div class="fl-name">Facebook</div>
                            <span class="fl-fan">2.530 Fans</span>
                        </li>
                        <li class="twitter">
                            <i class="fa fa-twitter"></i>
                            <div class="fl-name">Twitter</div>
                            <span class="fl-fan">2.046 Fans</span>
                        </li>
                        <li class="google">
                            <i class="fa fa-google"></i>
                            <div class="fl-name">Google</div>
                            <span class="fl-fan">1.170 Fans</span>
                        </li>
                    </ul>
                </div>
                <div class="vote-option set-bg" data-setbg="img/news/vote-bg.jpg">
                    <div class="vo-text">
                        <h5>In your opinion, which country will win this year</h5>
                        <div class="vt-item">
                            <input type="radio" name="like-team" id="one">
                            <label for="one">Germany</label>
                        </div>
                        <div class="vt-item">
                            <input type="radio" name="like-team" id="two">
                            <label for="two">Brazil</label>
                        </div>
                        <div class="vt-item">
                            <input type="radio" name="like-team" id="three">
                            <label for="three">Myanmar</label>
                        </div>
                        <div class="vt-item">
                            <input type="radio" name="like-team" id="four">
                            <label for="four">Argentina</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Popular News Section End -->
