@model IEnumerable<Model.EF.LichCapDau>

@foreach (var item in Model)
{
    <div class="mc-table">
        <table>
            <tbody>
                <tr>
                    <td class="left-team">
                        <img src="img/match/tf-5.jpg" alt="">
                        <h6>@item.IDclbNha</h6>
                    </td>                  
                    @Html.Action("hienthiLichDau", "LichThiDau", new { idlich = @item.IDLich})
                    <td class="right-team">
                        <img src="img/match/tf-6.jpg" alt="">
                        <h6>@item.IDclbKhach</h6>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
