@model Model.EF.Lich

<td class="mt-content">
    <div class="mc-op">@Html.DisplayFor(model=>model.GioDau)</div>
    <h4>VS</h4>
    <div class="mc-op">@Html.DisplayFor(model => model.NgayDau)</div>
</td>


